<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YALO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE2EFFC31D4A0DBD00EA7689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2EFFDF1D4A0DBD00EA7689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2EFFEA1D4A0DBD00EA7689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
